<title>Samsung Galaxy S10</title>
<section id="content">
    <div class="price-block">
        <div class="price">
            <span class="price__title">Votre prix</span>
            <span class="price__num">€1.00</span>
            <span class="price__num-line">€1.029.<span class="price__num-up">00</span></span>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="text_header">
                <div class="text_header__top">La nouvelle Galaxy est là</div>
                Galaxy S10+
            </div>
            <div class="row">
                <div class="offset-lg-5 col-lg-7">
                    <div class="form-block">
                        <form class="form">
                            <div class="form__head">Couleurs disponibles</div>
                            <div class="form__radio">
                                <label class="btn-radio btn-radio-right">
                                    <input name="radio" type="radio">
                                    <span class="btn-radio__border"></span>
                                    <span>blanc</span>
                                </label>
                                <label class="btn-radio">
                                    <input name="radio" type="radio" checked>
                                    <span class="btn-radio__border"></span>
                                    <span>noir</span>
                                </label>
                            </div>
                            <div class="form__head form__head-bottom">
                                Entrez vos données ci-dessous:
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="firstName" placeholder="Prénom">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="lastName" placeholder="Nom de famille">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="email" placeholder="Adresse électronique">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="phone" placeholder="Téléphone">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="city" placeholder="Ville">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="address" placeholder="Adresse">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="zip" placeholder="Code postal"
                                           maxlength="10">
                                </div>
                            </div>
                            <button class="form__btn-submit" type="submit" id="btn-form-submit">
                                Commandez maintenant
                            </button>
                        </form>
                        <form class="form-payment">
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="card-number">Numéro de carte</label>
                                <div class="form-payment__card-block">
                                    <input class="form-payment__inp form-payment__inp-card" type="text"
                                           name="cardNumber"
                                           id="card-number"
                                           placeholder="____ ____ ____ ____">
                                    <span class="form-payment__card-type">
                                        <img id="card-type" src="[host]/img/credit_card/unknown.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="form-payment__row">
                                <span class="form-payment__lbl">Date d'expiration</span>
                                <select class="form-payment__inp" type="text" name="expirationMonth" id="expiration-month">
                                    <option value="" disabled selected style='display:none;'>mois</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select class="form-payment__inp" type="text" name="expirationYear" id="expiration-year">
                                    <option value="" disabled selected style='display:none;'>année</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                </select>
                            </div>
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="name">Prénom</label>
                                <input class="form-payment__inp" type="text" name="name" id="name" placeholder="Imię"
                                       maxlength="20">
                            </div>
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="cvv">CVV</label>
                                <input class="form-payment__inp only-number" type="text" name="cvv" id="cvv"
                                       maxlength="3"
                                       placeholder="000">
                            </div>
                            <button class="form-payment__btn-submit" type="submit">
                                Confirmer le paiement
                            </button>
                        </form>
                    </div>
                    <div class="desc-block">
                        <h3>L'ensemble comprend une paire sans fil</h3>
                        <p>Les écouteurs Galaxy Buds peuvent être facilement écoutés.
                            se connecter à Galaxy S10 + i
                            utilisez Bixby pour jouer de la musique et passer des appels sans utiliser vos mains.</p>
                    </div>
                </div>
            </div>
            <div class="content__desc">
                <h2>Écran Infinity-O</h2>
                <p>Image sans distractions grâce à un tout nouveau design
                    affichage. Galaxy S10 + présente
                    sensationnel, complètement nouvel écran Infinity-O. Il était fait de verre immaculé qui
                    s'enroule de manière impressionnante sur les bords. C'est minimaliste, beau et simplement élégant. manque
                    le bouton principal et les encoches sur le récepteur et une simple ouverture ponctuelle sur la caméra frontale
                    ils vous fourniront une image non perturbée. Il est également équipé d'un protecteur d'écran qui le protège des
                    accidents mineurs dans la vie quotidienne.</p>
                <img src="[host]/img/bg_phone.png" alt="">
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="footer">
            <h3>Participez et gagnez le nouveau Samsung Galaxy S10 +</h3>
            <p>Tous les nouveaux clients participent à une loterie où vous pouvez gagner
                produit présenté. Si vous faites vos preuves
                Heureux gagnant, nous vous contacterons directement par email. Cette offre spéciale
                comprend une période d'essai de 6 jours par service souscrit. Passé ce délai, un forfait mensuel
                abonnement (65 EUR) seront automatiquement débités de votre carte de crédit Si nos services ne répondent pas aux vôtres
                attentes, vous pouvez supprimer votre compte dans un délai de 6 jours. Le service sera renouvelé chaque mois jusqu'à ce qu'il reste
                annulé. Cette campagne expirera le 31 décembre 2019.</p>
        </div>
    </div>
</footer>