<title>Samsung Galaxy S10</title>
<section id="content">
    <div class="price-block">
        <div class="price">
            <span class="price__title">twoja cena</span>
            <span class="price__num">€1.00</span>
            <span class="price__num-line">€1.029.<span class="price__num-up">00</span></span>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="text_header">
                <div class="text_header__top">Nowe Galaxy juz tu jest</div>
                Galaxy S10+
            </div>
            <div class="row">
                <div class="offset-lg-5 col-lg-7">
                    <div class="form-block">
                        <form class="form">
                            <div class="form__head">Colori disponibili</div>
                            <div class="form__radio">
                                <label class="btn-radio btn-radio-right">
                                    <input name="radio" type="radio">
                                    <span class="btn-radio__border"></span>
                                    <span>Biały</span>
                                </label>
                                <label class="btn-radio">
                                    <input name="radio" type="radio" checked>
                                    <span class="btn-radio__border"></span>
                                    <span>Czarny</span>
                                </label>
                            </div>
                            <div class="form__head form__head-bottom">
                                Swoje dane wprowadź poniżej:
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="firstName" placeholder="Imie">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="lastName" placeholder="Nazwisko">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="email" placeholder="Adres e-mail">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="phone" placeholder="Nr telefony">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="city" placeholder="Miejscowość">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="address" placeholder="Adres">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="zip" placeholder="Kod pocztowy"
                                           maxlength="10">
                                </div>
                            </div>
                            <button class="form__btn-submit" type="submit" id="btn-form-submit">
                                Zamów teraz
                            </button>
                        </form>
                        <form class="form-payment">
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="card-number">Numer koszyka</label>
                                <div class="form-payment__card-block">
                                    <input class="form-payment__inp form-payment__inp-card" type="text"
                                           name="cardNumber"
                                           id="card-number"
                                           placeholder="____ ____ ____ ____">
                                    <span class="form-payment__card-type">
                                        <img id="card-type" src="[host]/img/credit_card/unknown.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="form-payment__row">
                                <span class="form-payment__lbl">Termin ważności</span>
                                <select class="form-payment__inp" type="text" name="expirationMonth" id="expiration-month">
                                    <option value="" disabled selected style='display:none;'>miesiąc</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select class="form-payment__inp" type="text" name="expirationYear" id="expiration-year">
                                    <option value="" disabled selected style='display:none;'>rok</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                </select>
                            </div>
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="name">Imię</label>
                                <input class="form-payment__inp" type="text" name="name" id="name" placeholder="Imię"
                                       maxlength="20">
                            </div>
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="cvv">CVV</label>
                                <input class="form-payment__inp only-number" type="text" name="cvv" id="cvv"
                                       maxlength="3"
                                       placeholder="000">
                            </div>
                            <button class="form-payment__btn-submit" type="submit">
                                Potwierdź płatność
                            </button>
                        </form>
                    </div>
                    <div class="desc-block">
                        <h3>Zestaw obejmuje parę bezprzewodowych</h3>
                        <p>słuchawek Galaxy Buds.Słuchawki Galaxy Buds można z łatwością
                            podłączyć do Galaxy S10+ i
                            korzystać z Bixby w celu odtwarzania muzyki i wykonywania połączeń bez użycia rąk.</p>
                    </div>
                </div>
            </div>
            <div class="content__desc">
                <h2>Wyświetlacz Infinity-O</h2>
                <p>Obraz bez żadnych zakłóceń dzięki całkowicie nowemu designowi
                    wyświetlacza. Galaxy S10+ wprowadza
                    rewelacyjny, zupełnie nowy wyświetlacz Infinity-O. Powstał on z nieskazitelnego szkła, które
                    efektownie zawija się na krawędziach. Jest minimalistyczny, piękny i po prostu elegancki. Brak
                    przycisku głównego i wycięcia na odbiornik oraz proste, punktowe otwarcie na kamerę przednią
                    zapewnią Ci niczym niezakłócony obraz. Wyposażony jest też w osłonę ekranu, która chroni go przed
                    drobnymi wypadkami w życiu codziennym.</p>
                <img src="[host]/img/bg_phone.png" alt="">
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="footer">
            <h3>Weź udział i wygraj nowego Samsung Galaxy S10+</h3>
            <p>Wszyscy nowi klienci biorą udział w loterii, w której można wygrać
                zaprezentowany produkt. Jeśli okażesz się
                szczęśliwym zwycięzcą, skontaktujemy się z Tobą bezpośrednio pocztą elektroniczną. Ta oferta specjalna
                obejmuje trwający 6 dni okres próbny na subskrybowaną usługę. Po tym czasie miesięczna opłata
                abonamentowa
                (65 EUR) zostanie automatycznie pobrana z Twojej karty kredytowej.Jeśli nasze usługi nie spełnią Twoich
                oczekiwań, możesz skasować swoje konto w ciągu 6 dni. Usługa będzie odnawiana co miesiąc, aż zostanie
                anulowana. Kampania ta wygaśnie 31 grudnia 2019 roku.</p>
        </div>
    </div>
</footer>