<title>Samsung Galaxy S10</title>
<section id="content">
    <div class="price-block">
        <div class="price">
            <span class="price__title">il tuo prezzo</span>
            <span class="price__num">€1.00</span>
            <span class="price__num-line">€1.029.<span class="price__num-up">00</span></span>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="text_header">
                <div class="text_header__top">Il nuovo Galaxy è qui</div>
                Galaxy S10+
            </div>
            <div class="row">
                <div class="offset-lg-5 col-lg-7">
                    <div class="form-block">
                        <form class="form">
                            <div class="form__head">Colori disponibili</div>
                            <div class="form__radio">
                                <label class="btn-radio btn-radio-right">
                                    <input name="radio" type="radio">
                                    <span class="btn-radio__border"></span>
                                    <span>Bianco</span>
                                </label>
                                <label class="btn-radio">
                                    <input name="radio" type="radio" checked>
                                    <span class="btn-radio__border"></span>
                                    <span>Nero</span>
                                </label>
                            </div>
                            <div class="form__head form__head-bottom">
                                Inserisci i tuoi dati qui sotto:
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="firstName" placeholder="Primo nome">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="lastName" placeholder="Cognome">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="email" placeholder="Indirizzo e-mail">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="phone" placeholder="Niente telefoni">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="city" placeholder="Città">
                                </div>
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="address" placeholder="Indirizzare">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__col">
                                    <input class="form__inp" type="text" name="zip" placeholder="Codice postale"
                                           maxlength="10">
                                </div>
                            </div>
                            <button class="form__btn-submit" type="submit" id="btn-form-submit">
                                Ordina ora
                            </button>
                        </form>
                        <form class="form-payment">
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="card-number">Numero di carta</label>
                                <div class="form-payment__card-block">
                                    <input class="form-payment__inp form-payment__inp-card" type="text"
                                           name="cardNumber"
                                           id="card-number"
                                           placeholder="____ ____ ____ ____">
                                    <span class="form-payment__card-type">
                                        <img id="card-type" src="[host]/img/credit_card/unknown.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="form-payment__row">
                                <span class="form-payment__lbl">Data di scadenza</span>
                                <select class="form-payment__inp" type="text" name="expirationMonth" id="expiration-month">
                                    <option value="" disabled selected style='display:none;'>mese</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select class="form-payment__inp" type="text" name="expirationYear" id="expiration-year">
                                    <option value="" disabled selected style='display:none;'>anno</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                </select>
                            </div>
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="name">Nome</label>
                                <input class="form-payment__inp" type="text" name="name" id="name" placeholder="Imię"
                                       maxlength="20">
                            </div>
                            <div class="form-payment__row">
                                <label class="form-payment__lbl" for="cvv">CVV</label>
                                <input class="form-payment__inp only-number" type="text" name="cvv" id="cvv"
                                       maxlength="3"
                                       placeholder="000">
                            </div>
                            <button class="form-payment__btn-submit" type="submit">
                                Conferma il pagamento
                            </button>
                        </form>
                    </div>
                    <div class="desc-block">
                        <h3>Il set include una coppia wireless</h3>
                        <p>Cuffie Galaxy Buds Le cuffie Galaxy Buds possono essere facilmente collegate al Galaxy S10 + e utilizzare Bixby per riprodurre musica ed effettuare chiamate senza usare le mani.</p>
                    </div>
                </div>
            </div>
            <div class="content__desc">
                <h2>Display Infinity-O</h2>
                <p>Nessuna distorsione grazie al design completamente nuovo del display. Galaxy S10 + introduce un sensazionale display Infinity-O completamente nuovo. Era fatto di vetro immacolato, che avvolge efficacemente i bordi. È minimalista, bello e semplicemente elegante. La mancanza di un pulsante principale e di tacche sul ricevitore e una semplice apertura del punto sulla fotocamera frontale ti forniranno un'immagine indisturbata. È inoltre dotato di un proteggi schermo che lo protegge da piccoli incidenti nella vita di tutti i giorni.</p>
                <img src="[host]/img/bg_phone.png" alt="">
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="footer">
            <h3>Partecipa e vinci il nuovo Samsung Galaxy S10 +</h3>
            <p>Tutti i nuovi clienti partecipano alla lotteria, dove puoi vincere il prodotto presentato. Se sei un fortunato vincitore, ti contatteremo direttamente via email. Questa offerta speciale include un periodo di prova di 6 giorni per il servizio sottoscritto. Dopo questo periodo, la tariffa di abbonamento mensile (65 EUR) verrà automaticamente addebitata sulla tua carta di credito. Se i nostri servizi non soddisfano le tue aspettative, puoi eliminare il tuo account entro 6 giorni. Il servizio sarà rinnovato su base mensile fino alla sua cancellazione. Questa campagna scadrà il 31 dicembre 2019.</p>
        </div>
    </div>
</footer>