<title>Apple iPhone XS</title>
<section id="content">
    <div class="price-block">
        <div class="price">
            <span>Prezzo totale</span>
            <span class="price__num">2$</span>
        </div>
    </div>
    <div class="container">
        <h1>Ottieni un nuovo Iphone Xs per 2 $</h1>
        <h4>La vita è più semplice con l'Iphone</h4>
        <div class="content">
            <div class="form-block">
                <form class="form">
                    <div class="form__head">Fai un ordine</div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="firstName" placeholder="Nome">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="lastName" placeholder="Cognome">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="email" placeholder="Email">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="phone" placeholder="Telefono">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="city" placeholder="Città">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="address" placeholder="Indirizzo">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="zip" placeholder="Codice postale"
                               maxlength="10">
                    </div>
                    <button class="form__btn-submit" type="submit" id="btn-form-submit">
                        Continuare
                    </button>
                </form>

                <form class="form-payment">
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="card-number">Numero di carta</label>
                        <div class="form-payment__card-block">
                            <input class="form-payment__inp form-payment__inp-card" type="text" name="cardNumber"
                                   id="card-number"
                                   placeholder="____ ____ ____ ____">
                            <span class="form-payment__card-type">
                                <img id="card-type" src="[host]/img/credit_card/unknown.png" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="form-payment__row">
                        <span class="form-payment__lbl">Data di scadenza</span>
                        <select class="form-payment__inp" type="text" name="expirationMonth" id="expiration-month">
                            <option value="" disabled selected style='display:none;'>mese</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select class="form-payment__inp" type="text" name="expirationYear" id="expiration-year">
                            <option value="" disabled selected style='display:none;'>anno</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                        </select>
                    </div>
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="name">Nome</label>
                        <input class="form-payment__inp" type="text" name="name" id="name" placeholder="Name"
                               maxlength="20">
                    </div>
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="cvv">CVV</label>
                        <input class="form-payment__inp only-number" type="text" name="cvv" id="cvv" maxlength="3"
                               placeholder="000">
                    </div>
                    <button class="form-payment__btn-submit" type="submit">
                        Conferma il pagamento
                    </button>
                </form>
            </div>

            <div class="counter-block">
                <div class="counter-block__head">Apple Iphone Xs</div>
                <div class="counter-block__price">
                    <span>Valore</span><span class="line-through">1000$</span><br>
                    <span>Paghi solo 2 $</span>
                </div>
                <div class="counter-block__time">Tempo rimanente</div>
                <div class="counter">
                    <div id="clock"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <h5>Prova a vincere l'Iphone oggi. Il fortunato vincitore sarà contattato via e-mail.</h5>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <span class="question">Come posso vincere</span>
                    <span>Grazie alla tua iscrizione, parteciperai anche al nostro concorso per vincere a. Disegneremo un vincitore ogni 600 partecipanti. Il prossimo vincitore sarà estratto il 02.05.2019 e verrà informato direttamente via e-mail. Se il premio è esaurito, il vincitore riceverà invece un prodotto simile di valore uguale o superiore.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <span class="question">Nessun costo nascosto</span>
                    <span>Facciamo in modo che i nostri membri forniscano una cronologia dettagliata delle transazioni in modo che sappiano cosa stanno pagando. Le informazioni sulla carta di credito sono richieste solo per facilitare acquisti futuri. Non ci saranno addebiti per l'estratto conto della tua carta di credito se non si aggiorna all'iscrizione PREMIUM e non si effettua un acquisto.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <span class="question">Perché abbiamo bisogno dei tuoi dati di fatturazione</span>
                    <span>Unendoti a questo servizio, riceverai una prova di 5 giorni del programma del nostro partner. Se continui con un abbonamento oltre il periodo di prova di 5 giorni, ti verrà addebitato un importo della tua carta di credito, che varia a seconda della scelta. Quando il tuo contributo viene detratto dalla tua carta di credito o da altro metodo di pagamento, manterrai l'accesso a questi servizi, che sono riservati esclusivamente ai membri che pagano per l'accesso sul nostro sito web partner.</span>
                </p>
            </div>
        </div>
    </div>
</footer>