<title>Apple iPhone XS</title>
<header id="header">
    <div class="container">
        <div class="header">
            <div class="header__list">
                <ul class="header__list-left">
                    <li><img src="[host]/img/logo.png" alt="Logo apple"></li>
                    <li>Mac</li>
                    <li>iPad</li>
                    <li>iPhone</li>
                    <li>Watch</li>
                    <li>TV Music</li>
                    <li>Support</li>
                </ul>
                <ul class="header__list-right">
                    <li><img src="[host]/img/icon-search.png" alt="Search"></li>
                    <li><img src="[host]/img/icon-login.png" alt="Login"></li>
                </ul>
            </div>
            <div class="menu-icon">
                <div class="menu-icon-line"></div>
            </div>
        </div>
    </div>
</header>

<section id="form-block">
    <div class="container">
        <div class="form-block">
            <div class="form-block__img"><img class="img-iphone" src="[host]/img/iphone.png" alt="iPhone"></div>
            <div class="form-block__forms">
                <div class="form-header">
                    FIRST! DON’T MISS YOUR CHANCE!<br>
                    BECOME AN OWNER OF IPHONE Xs!<br>
                    THIS YOU HAVE NOT SEEN BEFORE!

                </div>
                <form class="form">
                    <div class="form__head">You only need to leave your email contacts.</div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="firstName" placeholder="First name">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="lastName" placeholder="Last name">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="email" placeholder="E-mail">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="phone" placeholder="Phone">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="city" placeholder="City">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="address" placeholder="Address">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form__row">
                        <input class="form__inp" type="text" name="zip" placeholder="ZIP" maxlength="10">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <button class="form__btn-submit" type="submit" id="btn-form-submit">Send</button>
                </form>

                <form class="form-payment">
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="card-number">Card number</label>
                        <div class="form-payment__card-block">
                            <input class="form-payment__inp form-payment__inp-card" type="text" name="cardNumber"
                                   id="card-number"
                                   placeholder="____ ____ ____ ____">
                            <span class="icon-success icon-success__card">&#10004;</span>
                            <span class="form-payment__card-type">
                                <img id="card-type" src="[host]/img/credit_card/unknown.png" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="form-payment__row">
                        <span class="form-payment__lbl">Expiration date</span>
                        <div class="form-payment__exp-date">
                            <select class="form-payment__inp form-payment__select" type="text" name="expirationMonth"
                                    id="expiration-month">
                                <option value="" disabled selected style='display:none;'>month</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select class="form-payment__inp form-payment__select form-payment__select-year" type="text" name="expirationYear"
                                    id="expiration-year">
                                <option value="" disabled selected style='display:none;'>year</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="name">Name</label>
                        <input class="form-payment__inp" type="text" name="name" id="name" placeholder="Name">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <div class="form-payment__row">
                        <label class="form-payment__lbl" for="cvv">CVV</label>
                        <input class="form-payment__inp only-number" type="text" name="cvv" id="cvv" maxlength="3"
                               placeholder="___">
                        <span class="icon-success">&#10004;</span>
                    </div>
                    <button class="form-payment__btn-submit" type="submit">Confirm payment</button>
                </form>
                <div class="form-footer">
                    <p>Iphone Xs is the the newest phone version of 2018</p>
                    <img src="[host]/img/icons.png" alt="iPhone config">
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <p>
                    What is it ?<br>
                    This is not just another device. These are opportunities that you have never met before and did not
                    even think that this is possible.
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p>
                    How much is it?<br>
                    Its membership is easy to cancel. The trial period of membership is 3 days.
                    If you do not terminate your membership during the trial period, you will be charged ninety-nine
                    euros (every 30 days, depending on the product, until you unsubscribe.)
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p>
                    How to win?<br>
                    Each participant automatically participates in the prize draw. We will define a new winner among
                    15,000 participants. Do not miss your chance to get the Iphone Xs for free by completing just a few
                    conditions.
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p>
                    Questions?<br>
                    If you have questions or need help, we will be happy to assist you and answer your questions.
                    Contact support@getthebestdailydeal.com from 10:00 to 16:00 on weekdays.
                </p>
            </div>
        </div>
    </div>
</footer>